* {
    margin: 5px 10px 5px 10px;
}

.main_panel {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:cadetblue;
    color: #2f5a78;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav_links li {
    list-style: none;
}

/**
id: home_h1
Aligns heading to the center
**/
#home_h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;    
}

/**
Button settings
**/
#btn {
    font-size: large;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: black;
    padding: 13px 26px;
}

.img1 {
    align-self: center;
    align-items: center;
    align-content: center;
}

body {
    padding: 0px 50px;
}