* {
    margin: 5px 10px 5px 10px;
}

/*
All pages
*/
body {
    padding: 0px 50px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*
Navigation Bar
*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: cadetblue;
    color: #2f5a78;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav_links li {
    list-style: none;
}

/*
index.html
*/
.main_panel {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    align-items: initial;
    justify-content: center;
    margin-top: 20px;
}

.heading {
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

/*
home.html
*/

/* id: home_h2
Aligns heading to the center
*/
#home_h2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/**
Button settings
**/
#btn {
    font-size: large;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    background-color: black;
    padding: 13px 26px;
}

/*
product_page.html
*/
.img1 {
    align-self: center;
    align-items: center;
    align-content: center;
}