body {
    color: black;
    background-color: white;
    font-size: 12pt;
    font-family: 'Courier New', Courier, monospace;
}

p {
    color: palevioletred;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
}

.container {
    display: flex;
}

.side_panel {
    background-color: white;
    width: 300pt;
    padding: 20pt;
}

.main_panel {
    flex: 1;
    padding: 20pt;
}